/*début éléments génerale*/
#bloc_page{
	width: 100%;
	margin: 0;
	padding: 0;
}
/* élements génerale */

/* mise en forme texte */
span{
	color:#379fa7;
}

#slider_description h1, p, button{
	/*color: white;*/
}
/*fin mise en forme texte */

/*début header*/
#acceuil{
	position: relative;
	overflow: hidden;
	border:2px solid black;
}

#title_principal{
	display: flex;
	justify-content: space-around;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	border:2px dashed green;
}

#logo{
	border: 2px dashed red;
}

#menu{

	border: 2px dashed blue;
}

#menu ul, li{
	display: flex;
	list-style-type: none;
	border: 2px dashed purple;
}

#menu a{
	color: black;
	text-decoration: none;
	padding: 14px 16px;
	border-top: 3px solid treansparent;
}

#menu a:hover{
	border-top: 3px solid #379fa7;
}

#menu a#active{
	border-top: 3px solid rgb(55, 159, 167);
}

#container_slider{/*dimensions du container*/
	position: relative;
	width: 200%;
	margin-top: 95px; 
	border: 2px solid green;
}

#slider{
	display: flex;
	border: 2px solid red;	
}


#slider img{
	width: 50%; /*avoir une meilleure compréssion lors du retrecissement de la fênètre*/
	border: 2px dashed yellow;
}

#container_arrows{
	position: relative;
	border: 2px dashed blue;
}

#arrow_left{
	position: absolute;
	top:-320px;
	height: 70px;
	left: -1%;
	width: 2%;
	border-radius: 50px;
	background-color: rgb(107, 76, 76);
	border: 2px dashed red;
}

#arrow_left i{
	position: absolute;
	top: 25px; 
	right: 49%;
	width: 10%;
	border: 2px dashed green;
}

#arrow_right{
	position: absolute;
	top: -320px;
	height: 70px;
	right: 49%;
	width: 2%;
	border-radius: 50px;
	background-color: rgb(107, 76, 76);
	border: 2px dashed black;
}

#arrow_right i{
	position: absolute;
	top: 25px;
	right: 50%; /*48% ou 1780px*/
	width: 10%;
	border: 2px dashed purple;
}

#timeline{
	border: 2px dashed ;
}

#container_slider_description{
	position: relative;
	width: 100%;
	border: 2px dashed purple
}

#slider_description{
	position: absolute;
	top: -350px;
	width: 100%;
	text-align: left;
	margin-left: 275px;
	border: 2px dashed pink;
}
/*-------solution 1-------
#container_slider{
	width: 100%;
	position: relative;
	border: 2px dashed black;
}

#slider{
	width: 100%;
	height:550px;
	padding:0;
	position: relative;
	overflow: hidden;
	border: 2px dashed red;
	padding: 4px 4px 4px 4px;
}

#slides{
	list-style-type:none;
	display:flex;
	margin:0;
	position:absolute;
	left:0;
	top:0;
	padding:0;
	animation: glisse 5s linear infinite; /*Cette syntaxe de la propriété animation est le raccourci de animation-name, animation-duration, animation-iteration-count, dans cet ordre précisément ici.
	border: 2px dashed blue;
	padding: 4px 4px 4px 4px;
}	

#slides img{
	/*width: 100%; soit l'un (width) soit l'autre (height) pour une image 
	height: 360px;
	margin: 0;
	border: 2px dashed orange;
	padding: 4px 4px 4px 4px;
}

#container_arrows{
	border: 2px dashed green;
	padding: 4px 4px 4px 4px;
}

#arrows{
	border: 2px dashed brown;
	padding: 4px 4px 4px 4px;	
}

#timeline{
	border: 2px dashed black;
	padding: 4px 4px 4px 4px;
}

#slider_description{
	border: 2px dashed pink;
	padding: 4px 4px 4px 4px;
}
*/

/*fin header*/



/*début corps: sections*/
/*-------------Nos services-------------*/
#nos_services{
	width: 100%;
}


.container_title{

	border: 2px dashed red;

}

.enveloppe_titre{
	text-align: center;
	border: 2px dashed green;
	padding: 4px 4px 4px 4px;
}

.titre{
	border: 2px dashed brown;
	padding: 4px 4px 4px 4px;
}

.ligne_decoration{
	border: 2px dashed black;
	padding: 4px 4px 4px 4px;
}

.cercle_decoration{
	border: 2px dashed blue;
	padding: 4px 4px 4px 4px;
}


.container_services{
	display: flex;
	justify-content: center;
	height: 460px;
	/*justify-content: space-between;*/ /*séparation bloc pc et du bloc paragraphe_services*/
 	border: 2px dashed green;
}

#pc_image{

	border: 2px dashed black; 

}

#enveloppe_paragraphe{
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-end;
	border: 2px dashed pink;
	margin-left: 140px;
	
}

.container_services_description{
	position: relative;
	border: 2px dashed yellow; 
}

.services_description{
	
	border:2px dashed green;
}	
/*
.titre_paragraphe{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
*/
.container_graphe{
	display: flex;
	position: relative;
	
	border: 2px dashed red;
}

.graphe{
	position: absolute;
	top: 20px;
	left: -50px;
	z-index: 1;
	border:2px dashed blue;
}

.cercle{
	position: absolute;
	top: 20px;
	left: -50px;
	font-size: 50px;
	border:2px dashed pink;
	z-index: 2;
}

.point_bleu{
	position: absolute;
	top: 20px;
	left: -50px;
	z-index: 3;
	border:2px dashed red;
}
.text{
	
	border: 2px dashed gray;
}

/*---------------Nos projets--------------------*/
#nos_projets{
	width: 100%;
	/*border: 2px solid black;*/
}

#container_bar_navigation_projets{
	
	border: 2px dashed blue;
}

#bar_navigation_projets ul, li{
	display: flex;
	justify-content: center;
	list-style-type: none;
	border: 2px dashed red;
}

#bar_navigation_projets a{
	text-decoration: none;
}

#container_projets_images{
	position: relative;
	width: 100%;
	border: 2px solid red;
}

#projets_images{
	display: flex;
	justify-content: center;
	border: 2px dashed green;

}

.container_images{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	border: 2px dashed blue;
}

.images{
	position: relative;
	text-align: center;
	border: 2px dashed yellow;
}

.images figure{

	border: 2px dashed gray;
}

.images img{
	width: 300px;
	border: 2px dashed pink;

}
.images figcaption{
	position: absolute;
	width: 77%;
	top: 124px; 
	left: 42px ;
	border: 2px dashed green;
}
/*#projets_images p{
	display: flex;
	flex-flow: wrap;
	justify-content: center;
	border: 2px dashed blue;
}*/

/*
#projets_images img{
	width: auto;
	height: 240px;
	border: 2px dashed pink;
}
/*fin corps*/

/*------------Formulaire de contact-------------*/
#formulaire_de_contact{
	width: 100%;
	height: 660px;
	border: 2px solid red;

}

#container_formulaire_de_contact{
	position: relative;
	width: 100%;
}

#carte_google{
	width: 100%;
	height: 660px;
	border: 2px dashed black;
}

#carte_google iframe{
	position: absolute;
	width: 100%;
	height: 650px; /*650px*/
	opacity: 0.7;
	border: 2px dashed yellow;
}

#fond_bleu{
	width: 100%;
	height: 650px;
	background-color: rgb(153,230,255);
}

#contact{
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: 100px;
	right: 1;
	left: 0;
	width: 100%; /*248.44*504*/
	height: 500px;
	z-index: 1;
	border: 2px dashed gray;

	/*-----solution une (absolute)------
	display: flex;
	justify-content: flex-end;
	position: absolute;
	bottom: -1950px;
	right: 0;
	left: 1;
	width: auto;
	margin-right: 40px;
	height: 500px;
	z-index: 1;
	border: 2px dashed gray; */

	/*-----solution bis (relative)------
	display: flex;
	justify-content: flex-end;
	position: relative;
	bottom: 600px;
	left: 0;
	right: 1;
	width: 248px; /*248.44*504
	height: 500px;
	z-index: 1;
	border: 2px dashed gray;*/

}

#titre_contact{
	position: relative;
	width: 380px;
	margin-right: 120px;
	border: 2px dashed blue;

}

#titre_contact form{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 2px dashed pink;
	justify-content: center;
}

#titre_contact fieldset{
	
	border: 2px dashed yellow;
}

#titre_contact fieldset div{
	width: 100%;
	

	border: 2px dashed green;
}

input{

	width: 98%;
}

#titre_contact #button{
	width: 35%;

}
/*footer: non spécifié*/